apiVersion: apps/v1
kind: Deployment
metadata:
  name: java-hello-world-deployment
  labels:
    app: java-hello-world
spec:
  replicas: 1
  selector:
    matchLabels:
      app: java-hello-world
  template:
    metadata:
      labels:
        app: java-hello-world
    spec:
      containers:
      - name: java-hello-world
        # A imagem será substituída pela pipeline do GitHub Actions
        image: ricardoysh.azurecr.io/java-hello-world:latest
        ports:
        - containerPort: 8080 # Porta de exemplo, mesmo que a app seja console
        resources:
          limits:
            memory: "512Mi"
            cpu: "500m"
          requests:
            memory: "256Mi"
            cpu: "250m"
---
apiVersion: v1
kind: Service
metadata:
  name: java-hello-world-service
spec:
  type: LoadBalancer # Para expor a aplicação publicamente
  ports:
  - port: 80
    targetPort: 8080
  selector:
    app: java-hello-world