name: Java CI/CD to AKS

env:
  AZURE_RESOURCE_GROUP: 'rg-test-aks-central-us'
  AZURE_AKS_CLUSTER: 'my-free-aks'
  AZURE_ACR_NAME: 'ricardoysh'
  IMAGE_NAME: 'java-hello-world'
  IMAGE_TAG: ${{ github.sha }}


on:
 push

permissions:
  id-token: write
  contents: read
  actions: read

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: 'maven'

    - name: Build with Maven and Run Tests
      run: |
        mvn clean install
        
    - name: Upload JaCoCo Report
      uses: actions/upload-artifact@v4
      with:
        name: jacoco-report
        path: target/site/jacoco/jacoco.xml
    
  build-and-push-image:
    needs: build-and-test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Az login
      run: |
        az login \
          --service-principal \
          --username ${{ secrets.AZURE_CLIENT_ID }} \
          --password ${{ secrets.AZURE_CLIENT_SECRET }} \
          --tenant ${{secrets.AZURE_TENANT_ID }}

    # - name: Azure Login
    #   uses: azure/login@v2
    #   with:
    #     # creds: ${{ secrets.AZURE_CREDENTIALS }}
    #     # enable-AzPSSession: true
    #     # Alternativa mais segura: use OIDC (OpenID Connect)
    #     client-id: ${{ secrets.AZURE_CLIENT_ID }}
    #     tenant-id: ${{ secrets.AZURE_TENANT_ID }}
    #     subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    - name: Connect to Azure Container Registry (ACR)
      uses: azure/docker-login@v2
      with:
        login-server: ${{ env.AZURE_ACR_NAME }}.azurecr.io
        username: ${{ secrets.AZURE_CLIENT_ID }}
        password: ${{ secrets.AZURE_CLIENT_SECRET }}
    
    - name: Build & Push Docker image to ACR
      run: |
        echo "-------> Realizando o build da imagem..."
        docker buildx build --platform linux/amd64 -t ${{ env.AZURE_ACR_NAME }}.azurecr.io/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }} --push

        # echo "################# Realizando o push da imagem #####################"

        # docker push ${{ env.AZURE_ACR_NAME }}.azurecr.io/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}

  deploy-to-aks:
    needs: [ build-and-push-image ]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Az login
      run: |
        az login \
          --service-principal \
          --username ${{ secrets.AZURE_CLIENT_ID }} \
          --password ${{ secrets.AZURE_CLIENT_SECRET }} \
          --tenant ${{secrets.AZURE_TENANT_ID }}

    # - name: Azure Login
    #   uses: azure/login@v2
    #   with:
    #     client-id: ${{ secrets.AZURE_CLIENT_ID }}
    #     tenant-id: ${{ secrets.AZURE_TENANT_ID }}
    #     subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
    
    - name: Set Kubernetes context
      uses: azure/aks-set-context@v4
      with:
        resource-group: ${{ env.AZURE_RESOURCE_GROUP }}
        cluster-name: ${{ env.AZURE_AKS_CLUSTER }}

    - name: Deploy to AKS
      uses: azure/k8s-deploy@v5
      with:
        manifests: |
          aks/deployment.yml
        images: |
          ${{ env.AZURE_ACR_NAME }}.azurecr.io/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}
        #image-pull-secrets: |
    
    - name: Verify Deployment
      run: |
        kubectl rollout status deployment/java-hello-world-deployment
        kubectl get service java-hello-world-service
          