name: Java CI/CD to AKS

env:
  AZURE_RESOURCE_GROUP: 'rg-test-aks-central-us'
  AZURE_AKS_CLUSTER: 'my-free-aks'
  AZURE_ACR_NAME: 'ricardoysh'
  IMAGE_NAME: 'java-hello-world'
  IMAGE_TAG: ${{ github.sha }}


on:
 push

permissions:
  id-token: write
  contents: read

jobs:
  build-and-test:
    runs-on: self-hosted
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    # - name: Set up JDK 17
    #   uses: actions/setup-java@v4
    #   with:
    #     java-version: '17'
    #     distribution: 'temurin'
    #     cache: 'maven'

    # - name: Build with Maven and Run Tests
    #   run: |
    #     mvn clean install
        
    # - name: Upload JaCoCo Report
    #   uses: actions/upload-artifact@v4
    #   with:
    #     name: jacoco-report
    #     path: target/site/jacoco/jacoco.xml
    
  build-and-push-image:
    needs: build-and-test
    runs-on: self-hosted
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Install az cli
      run: |
        sudo apt-get update
        sudo apt-get install apt-transport-https ca-certificates curl gnupg lsb-release
        curl -sL https://packages.microsoft.com/keys/microsoft.asc | gpg --dearmor | sudo tee /etc/apt/keyrings/microsoft.gpg > /dev/null
        echo "deb [arch=amd64 signed-by=/etc/apt/keyrings/microsoft.gpg] https://packages.microsoft.com/repos/azure-cli/ $(lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/azure-cli.list
        sudo apt-get update /y
        sudo apt-get install azure-cli /y
        echo "----------az cli version -------------"
        az --version

    - name: Azure Login
      uses: azure/login@v2
      with:
        # creds: ${{ secrets.AZURE_CREDENTIALS }}
        # enable-AzPSSession: true
        # Alternativa mais segura: use OIDC (OpenID Connect)
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}



    - name: Connect to Azure Container Registry (ACR)
      uses: azure/docker-login@v2
      with:
        login-server: ${{ env.AZURE_ACR_NAME }}.azurecr.io
        username: ${{ secrets.AZURE_CLIENT_ID }}
        password: ${{ secrets.AZURE_CLIENT_SECRET }}

#